@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    --header-height: 10%;
    --main-height: 80%;
    --footer-height: 10%;
}

html {
    /* @apply bg-red-100; */
}

h1 {
    @apply text-4xl;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 16px;
}